{% load static %}

<!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left">
          <i class="fas fa-phone fa-1x" ></i> <i class="fas fa-1x" >9818495939</i>
        </div>
        <div class="col-md-6 text-left" >
          <img src="{% static 'img/white.png' %}" alt="" class="top-bar-logo">
          <img src="{% static 'img/logo_black.png' %}" alt="" class="top-bar-logo">
          <i class="fas fa-1lt2x" >Geetsai Manpower Consultancy</i>
        </div>
        <div class="col-md-3 text-left">
          <i class="fas fa-envelope-open fa-1x"></i> <i class="fas fa-1x" >geetsaiconsultancy@gmail.com</i>
        </div>
      </div>
    </div>
  </section>
