{% extends 'base.html' %}


{% block title %}
| Register
{% endblock %}


{% block content %}

    <section id="register" class="bg-light py-5">
        <div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card">
						<div class="card-header bg-primary text-white">
						<h4>
							<i class="fas fa-user-plus"></i> Register</h4>
						</div>
						<div class="card-body">
                            <!-- Alerts -->
                            {% include 'partials/_alerts.html' %}
							<form action="{% url 'register' %}" method="POST"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
									<label for="first_name">First Name</label>
									<input type="text" name="first_name" class="form-control" required value="{{first_name}}">
								</div>
								<div class="form-group">
									<label for="last_name">Last Name</label>
									<input type="text" name="last_name" class="form-control" required value="{{last_name}}">
								</div>
								<div class="form-group">
									<label for="email">Work Email<em> (will be used as username)</em></label>
									<input type="email" name="email" class="form-control" required value="{{email}}">
								</div>
								<div class="form-group">
									<label for="phone">Phone</label>
									<input type="phone" name="phone" class="form-control" value="{{phone}}" required>
								</div>
								<div class="form-group">
									<label for="password2">Password</label>
									<input type="password" name="password" class="form-control" required value="{{password}}">
								</div>
								<div class="form-group">
									<label for="password">Confirm Password</label>
									<input type="password" name="password2" class="form-control" required value="{{password2}}">
								</div>
								<div class="form-group">
									<label for="companyName">Company </label>
									<select name="company" id="company" class="form-control" required onchange="companySelect()">
										<option selected="true" ><<--Company-->></option>
										{% for companyObj in companyList %}
										<option value="{{companyObj.id}}" 
											{% ifequal companyObj.id company|add:'0' %}
												selected="true"
											{%endifequal%}	
											>{{companyObj.companyName}}</option>
										{% endfor %}
										<option  value="Other"
										{% if 'Other' == company %}
												selected="true"
											{%endif%}	>Other</option>
							
									</select>
								</div>
								<div class="form-group">
									<label for="companyName">Company Name</label>
									<input type="text" name="companyName" id="companyName" class="form-control" 
									{% if company == 'Other' %}
									required
								{% else %}
									disabled
								{% endif %} value="{{companyName}}">
								</div>
								<div class="form-group">
									<label for="companyUrl">Company URL</label>
									<input type="text" name="companyUrl" id="companyUrl" class="form-control" 
									{% if company == 'Other' %}
											required
										{% else %}
											disabled
										{% endif %}
										 value="{{companyURL}}">
								</div>
								<div class="form-group">
									<label for="designation">Designation</label>
									<input type="text" name="designation" class="form-control" required value="{{designation}}">
								</div>
								<div class="form-group">
									<label for="location">Location</label>
									<input type="text" name="location" class="form-control" required value="{{location}}">
								</div>
								<div class="form-group">
									<label for="companyLogo">Company Logo (<=100 KB)</label>
									<input name="companyLogo" id="companyLogo" class="form-control" type="file" accept="image/*" 
										{% if company == 'Other' %}
											required
										{% else %}
											disabled
										{% endif %}
										>
								</div>
								<div class="form-group">
									<label for="profileImage">Profile Image (<=500 KB)</label>
									<input type="file" name="profileImage" class="form-control"  accept="image/*" required value="{{profileImage}}">
								</div>
								<input type="submit" value="Register" class="btn btn-secondary btn-block">
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>

{% endblock %}